@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

// Navigation
.navbar {

    background-image: url(/img/bg.jfif);
    align-items: center;

    &-brand {

        h1 {
            margin: 0;
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: 7px;
            transition: .33s; 

            &:hover {
                font-size: 23px;
                letter-spacing: 9px;
               
                span {
                    color: goldenrod;
                }
            }
        }
        
    }

    .navbar-nav {

        .nav-link {
            color: black;
            font-size: 20px;

            transition: .3s ease-in;
            padding: 5px 15px;
            border-radius: 20px;

            &:hover {
                // background-color: #bda342;
                background-color: goldenrod;
            }

            .fab {
                font-size: 25px;
            }
        }

        .nav-link {
            margin-left: 20px;
        }
    }
}

// Carousel
.carousel-inner {

    img {
        opacity: .7;
        // height: 100vh;
    }

    .carousel-caption {

        color: black;
        bottom: 30%;


        h5 {
           font-weight: normal;
        }
    
        p {
    
        }

        .btn {

            color: white;
            background-color: goldenrod;
            border: none;
            outline: none;
            border-radius: 10px;
            font-size: 25px;

            &:focus,
            &:active 
            {
                color: white;
                background-color: goldenrod;
            }
        }
        
    }

}